{% extends 'base.html' %}

{% block content %}
  <h2>Ласкаво просимо! <span class="icon-emo-happy"></span></h2>
  <p class="lead">
    Якщо у вас вже є обліковий запис, продовжуйте та <a href="{% url 'login' %}">увійдіть</a>. 
    Якщо ви новачок у системі тестування, починайте роботу з <a href="{% url 'student_signup' %}"> облікового запису учня</a> 
    або <a href="{% url 'teacher_signup' %}"> з акаунта вчителя</a>.
  </p>
  <hr>
  <h3>Що це за система тестування?</h3>
  <p>
    Цей додаток для тестування учнів молодших класів. 
    У цій програмі користувачі можуть зареєструватися як школярі чи викладач. Вчителі можуть створювати тести, а учні можуть відповідати на тести 
    виходячи з їх уровня підготовки в класі.
  </p>
  
{% endblock %}
