<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Система Тестування</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"
        integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/vendor/fontello-2f186091/css/fontello.css">
    <link rel="stylesheet" type="text/css" href="/static/css/app.css">
    <link rel="stylesheet" type="text/css" href="/static/css/students.css">
</head>

<body>
    <div class="container" style="margin-top: 1rem">
        <div class="row justify-content-center text-center">
            <div class="col-md-10 col-sm-12">

                <h4 class="display-4 mb-4">Правила граматики</h4>

                <nav class="nav flex-column">

                    <a class="nav-link" href=" #yak1">Написання ненаголошених голосних</a>
                    <a class="nav-link" href=" #yak2">Вживання апострофа</a>
                    <a class="nav-link" href=" #yak3">Вживання м’якого знака</a>
                    <a class="nav-link" href=" #yak4">Подовження і подвоєння приголосних</a>
                    <a class="nav-link" href=" #yak5">Правопис <b><i>і</i></b> та <b><i>и</i></b> в префіксах і суфіксах</a>
                </nav>

                <div id="yak1">
                    <h2><b>Написання ненаголошених голосних</b></a><b></b></h2>
                </div>
                <p>Відомо, що звуки [е], [и] в ненаголошеній позиції вимовляються не чітко, а з наближенням: [е] –
                    до [и], [и] - до [е] (в транскрипції це позначається як [е<sup>и</sup>], [и<sup>е</sup>]).</p>
                <p>Як не помилитися в написанні слів з цією орфограмою? Перший крок – перевіряємо наголосом:
                    змінюємо слово так, щоб ненанаголошений голосний став наголошеним. Наприклад, широкий – широко,
                    веселий – весело. <br> Це стосується й ненаголошеного О: він вимовляється з наближенням до У
                    [о<sup>у </sup>], якщо далі йде наголошений склад з у. Наприклад, голубка [го<sup>у
                    </sup>лу́бка], кожух [ко<sup>у </sup>жу́х]</p>
                <p>Якщо це не вирішує проблему, робимо наступні кроки й запам'ятовуємо:</p>
                <table class="table table-striped table-condensed table-bordered">
                    <tbody>
                        <tr>
                            <td>
                                <p><b>е</b><b></b></p>
                            </td>
                            <td>
                                <p><b>и</b><b></b></p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <ul>
                                    1.-ере-, -еле- (береза, лелека)
                                </ul>
                            </td>
                            <td>
                                1.-ив - продукт праці (печиво, морозиво)
                                <p>марево, зарево , маєво – не продукт праці</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <ul>
                                    2.-ен, -тель (тигреня, учитель )
                                </ul>
                            </td>
                            <td>
                                2.якщо є чергування е//и у коренях дієслів (дерти – видирати, умерти – умирати)

                            </td>
                        </tr>
                        <tr>
                            <td>
                                <ul>
                                    3.при зміні слова голосний випадає - пишемо е (вітер – вітру, хлопець –
                                    хлопця, перстень – персня)
                                </ul>
                            </td>
                            <td>
                                3.буквосполучення ри-, ли- (кривавий, тривога)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <ul>
                                    4.Сумнівний звук чергується з і –­­ пишемо Е (осені – осінь, Києва -Київ)

                                </ul>
                            </td>
                            <td>
                                -ик, -иц(я), -ищ(е), -иськ (столик, вулиця, вогнище, збіговисько)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <ul>
                                    5.Префікс пре- = дуже (пречудовий – дуже чудовий)
                                </ul>
                            </td>
                            <td>
                                Префікс при- = наближення, неповна дія (прибережний, присісти)
                            </td>
                        </tr>
                    </tbody>
                </table>
                <br>
                <div id="yak2">
                    <h2><b>Вживання апострофа </b></a><b></b></h2>
                </div>

                <p class="p_intro">Апостроф ставимо лише перед <b>я, ю, є, ї</b>. Він вказує, що ці букви позначають два
                    звуки [<b>йа</b>], [<b>йу</b>], [<b>йе</b>], [<b>йі</b>], а попередній приголосний вимовляється
                    твердо, пор.: [зйава] <i>з’ява</i> і [зˊаблик] <i>зяблик</i>.</p>

                <table class="table table-striped table-condensed table-bordered">
                    <thead>
                        <tr>
                            <th>Апостроф пишемо</th>
                            <th>Апостроф НЕ пишемо</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Перед <b>я, ю, є, ї</b> після <a href="#">губних <b>м, в, п, б,
                                        ф</b> <small>(“<b>м</b>а<b>вп</b>а <b>Б</b>у<b>ф</b>”)</small></a>, якщо ці
                                губні стоять: <br>
                                а) на початку кореня*: <i>б’ю, <b>в’я</b>зати, <b>в’я</b>зка, <b>в’ю</b>н, <b>п’я</b>ть,
                                    <b>м’я</b>кий;</i> <br>
                                <small>*Коли попередній приголосний належить до префікса, то апостроф пишеться, як і в
                                    тих же словах без префікса: <i><ins>з</ins><b>в’я</b>зок,
                                        <ins>під</ins><b>в’я</b>зати, <ins>з</ins><b>в’ю</b>нитися,
                                        <ins>в</ins><b>п’я</b>тьох, <ins>роз</ins><b>м’я</b>кшити.</i></small><br>
                                б) після <ins>голосного</ins> або <b>р</b>: <i>здор<ins>о</ins><b>в’я</b>,
                                    р<ins>и</ins><b>б’я</b>чий, сол<ins>о</ins><b>в’ї</b>, сол<ins>о</ins><b>в’є</b>м;
                                    че<ins>р</ins><b>в’я</b>к, су<ins>р</ins><b>м’я</b>ний,
                                    а<ins>р</ins><b>ф’я</b>р.</i> </td>
                            <td>Після губних <b>м, в, п, б, ф,</b> якщо перед ними в корені є буква на позначення
                                <ins>приголосного</ins>, крім <i>р</i>: <i><ins>с</ins><b>вя</b>то,
                                    <ins>ц</ins><b>вя</b>х, <ins>ть</ins><b>мя</b>ний, ма<ins>в</ins><b>пя</b>чий,
                                    мор<ins>к</ins><b>вя</b>ний.</i></td>
                        </tr>
                        <tr>
                            <td>Перед <b>я, ю, є, ї</b> після <b>р</b>, що позначає твердий звук (далі у вимові чується
                                звук [<b>й</b>]): [бурйан] <i>бу<b>р’я</b>н,</i> [сузˊірйа] <i>сузі<b>р’я</b>,</i>
                                [карйер] <i>ка<b>р’є</b>р,</i> [матˊірйу] <i>маті<b>р’ю</b>.</i> </td>
                            <td>Після букви <b>р</b>, що разом із <b>я, ю, є</b> позначає м’який звук [<b>pˊ</b>] (у
                                вимові не чується [й]): [бурˊак]<i> бу<b>ря</b>к,</i> [зорˊа] <i>зо<b>ря</b>,</i>
                                [гарˊачий] <i>га<b>ря</b>чий.</i></td>
                        </tr>
                        <tr>
                            <td>Перед <b>я, ю, є, ї</b> після префіксів, які кінчаються на приголосний (<b>від-, під-,
                                    над; перед-, роз-, без-, з-, в-, об-, між-</b>): <i><b>від’</b>ємний,
                                    <b>під’</b>юдити, <b>роз’</b>єднати, <b>без’</b>ядерний, <b>з’</b>їзд,
                                    <b>між’</b>ярусний, <b>перед’</b>ювілейний.</i> <br>
                            </td>
                            <td> </td>
                        </tr>
                        <tr>
                            <td>Перед <b>я, ю, є, ї</b> у <ins>складних словах</ins>, у яких перша частина закінчується
                                на приголосний: <i><b>пан’</b>європейський, <b>пів’</b>яблука, <b>пів’</b>яхти,
                                    <b>дит’</b>ясла, <b>Мін’</b>юст.</i></td>
                            <td>Перед іменниками — власними іменами <b>пів-</b> <a href="#">пишеться
                                    через дефіс</a>: <i><b>пів-</b>Європи, <b>пів-</b>Євпаторії, <b>пів-</b>Японії.</i>
                            </td>
                        </tr>
                        <tr>
                            <td>Після <b>к</b> в імені <i>Лу<b>к'</b>ян</i> і похідних від нього словах:
                                <i>Лу<b>к'</b>яненко, Лу<b>к'</b>янівка, Лу<b>к'</b>янов.</i></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td colspan="2" class="text_center"><b>Апостроф у словах іншомовного походження</b></td>
                        </tr>
                        <tr>
                            <td>В <ins>іншомовних словах</ins> апостроф перед <b>я, ю, є, ї</b> ставиться не тільки
                                після <ins>губних</ins> <b>(б, п, в, м, ф)</b> та <b>р</b>, а й після
                                <ins>шиплячих</ins> та <ins>задньоротових</ins> <b>(г, к, х, ж,ч, ш),</b> якщо після них
                                чується звук [<b>й</b>]: <i>ком<b>п’ю</b>тер</i> <span class="nowrap">[-пйу-]</span>,
                                <i>Данс<b>м’ю</b>р</i> [-мйур], <i>ба<b>р’є</b>р</i> <span
                                    class="nowrap">[-рйер],</span> <i>ми<b>ш’я</b>к</i> <span
                                    class="nowrap">[-шйа-],</span> <i>Ру<b>ж’є</b></i> <span
                                    class="nowrap">[-жйе],</span> <i><b>Х’ю</b>стон</i> <span
                                    class="nowrap">[хйу-],</span> <i>Рей<b>к’я</b>вік</i> <span
                                    class="nowrap">[-кйа-],</span> <i><b>Г’я</b>та</i> <span
                                    class="nowrap">[гйа-].</span> <br>
                            </td>
                            <td>Апостроф в <ins>іншомовних словах</ins> не ставиться перед <b>я, ю,</b> якщо ці букви
                                позначають пом’якшення попереднього приголосного* (запозичення переважно з французької
                                мови): <i><b>бю</b>ро</i> [б’у-], <i><b>бя</b>зь</i> [б’а-], <i><b>пю</b>ре</i> [п’у-],
                                <i><b>кю</b>вет</i> [к’у-], <i><b>рю</b>кзак</i> [р’у-], <i>мані<b>кю</b>р</i> [-к’у-].
                                <br>
                                <small>*Проте, відповідно до фонетичних законів нашої мови, у вимові в таких словах може
                                    виступати й звук [й]: [бйуро], [бйазˊ] і т.под. Цього не враховано в
                                    правописі.</small></td>
                        </tr>
                        <tr>
                            <td>Після кінцевого <ins>зубного</ins> приголосного в префіксах: <i><b>ад’</b>ю́нкт,
                                    <b>ад’</b>юта́нт, <b>ін’</b>є́кція, <b>кон’</b>ю́нктура, <b>диз’</b>ю́нкція.</i>
                            </td>
                            <td>Апостроф не пишеться перед <b>йо:</b> <i>кур<b>йо</b>з, сер<b>йо</b>зний.</i></td>
                        </tr>
                        <tr>
                            <td colspan="2" class="text_center"><b>Апостроф у слов’янських прізвищах та географічних
                                    назвах</b></td>
                        </tr>
                        <tr>
                            <td rowspan="2">Апостроф пишеться після губних, задньоязикових і <b>р</b> перед <b>я, ю, є,
                                    ї:</b> <i>Аля<b>б’є</b>в, Аре<b>ф’є</b>в, Водо<b>п’я</b>нов, <b>В’я</b>льцева,
                                    Григо<b>р’є</b>в, Заха<b>р’ї</b>н, Лу<b>б’я</b>нцев, По<b>м’я</b>ловський,
                                    Проко<b>ф’є</b>в, Ру<b>м’я</b>нцев, Ю<b>р’є</b>в; <br>
                                    <b>В’я</b>зники, Де<b>м’я</b>нськ, Проко<b>п’є</b>вськ, <b>П’я</b>тигорськ,
                                    А<b>к’я</b>р, Амуда<b>р’я,</b> Гу<b>р’є</b>в.</i> </td>
                            <td>Апостроф не пишеться перед <b>йо:</b> <i>Вороб<b>йо</b>в, Солов<b>йо</b>в;
                                    Мурав<b>йо</b>во.</i></td>
                        </tr>
                        <tr>
                            <td>Коли <b>я, ю</b> означають сполучення м’якого чи пом’якшеного приголосного з <b>а,
                                    у,</b> то апостроф перед ними не пишеться: <i><b>Бя</b>дуля, <b>Пя</b>сецький,
                                    <b>Рю</b>мін; <br><b>Вя</b>зьма, <b>Кя</b>хта, К<b>рю</b>ково, <b>Ря</b>зань.</i>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <br>
                <div id="yak3">
                    <h2><b>Вживання м’якого знака </b></h2>
                </div>
                <p class="p_intro">Якщо в українській літературній вимові приголосний звучить твердо, то м’який знак не
                    ставиться. Якщо ж приголосний вимовляється м’яко, то м’який знак може писатися чи ні. </p>
                <p class="p_intro">Для позначення м’якості приголосних служить буква <b>ь</b>; йотовані букви <i>я, ю,
                        є, ї</i>, перший звуковий елемент [й] пом’якшує попередній приголосний: <i>ляля, няня, люд,
                        сяду;</i> наступний голосний звук [i]: <i>тінь, пісня, зірка, сіно, ніс.</i> (див. також <a
                        href="#">Класифікація приголосних</a>)</p>
                <table class="table table-striped table-condensed table-bordered">

                    <thead>
                        <tr>
                            <th>М’який знак ставиться</th>
                            <th>М’який знак НЕ ставиться</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>У кінці слова м’якість <ins>зубних</ins> приголосних (<b>д, т, з, с, ц, л, н</b>
                                <i><small>“<b>д</b>е <b>т</b>и <b>з</b>’ї<b>с</b>и <b>ц</b>і
                                        <b>л</b>и<b>н</b>и”</small></i>) завжди позначаємо м’яким знаком (за фонетичним
                                принципом): <i>моло<b>дь</b>, ми<b>ть</b>, скрі<b>зь</b>, звідкіля<b>сь</b>,
                                    вітре<b>ць</b>, жа<b>ль</b>, осторо<b>нь</b>.</i><br>
                                Причому в дієсловах перед часткою <i>-ся (-сь)</i> м’який знак зберігається:
                                <i>будую<b>ть</b> — будую<b>ть</b>ся, ста<b>нь</b> — ста<b>нь</b>ся і ста<b>нь</b>сь,
                                    підно<b>сь</b> — підно<b>сь</b>ся</i> (але:<i> підні<b>с</b>ся,</i> бо
                                <i>підні<b>с</b></i>). </td>
                            <td>Після букв, що позначають <ins>губні, піднебінні і задньоротові</ins>, м’який знак не
                                ставиться: <i>кров, сім, ідеш, повір, (багато) облич</i> (хоч <i>обличчя</i>),
                                <i>роздоріж</i> (хоч <i>роздоріжжя</i>), <i>зір</i> (хоч <i>зоря</i>), <i>бур</i> (хоч
                                <i>буря</i>); <i>поставмо, насипмо, гіркий.</i> </td>
                        </tr>
                        <tr>
                            <td rowspan="2">У середині слова м’якість приголосних <b>д, т, з, с, ц, л, н</b>
                                позначається м’яким знаком <ins>лише перед твердими нешиплячими</ins>:
                                <i>ї<b>дь</b><ins>те</ins>, боро<b>ть</b><ins>ба</ins>, при<b>зь</b><ins>ба</ins>,
                                    товари<b>сь</b><ins>ки</ins>й, коза<b>ць</b><ins>ки</ins>й,
                                    не<b>нь</b><ins>ка</ins>.</i><br>
                                Причому м’який знак у таких словах завжди зберігається: <br>
                                а) при відмінюванні: <i>у боро<b>ть</b>бі, у жме<b>нь</b>ці, не<b>нь</b>ці,
                                    товари<b>сь</b>кі, коза<b>ць</b>кі;</i>
                                але: <i>ма<b>с</b>ці,</i> бо <i>ма<b>с</b>ка;</i> <i>хати<b>н</b>ці,</i> бо
                                <i>хати<b>н</b>ка;</i> <br>
                                б) в утворених від них присвійних прикметниках: <i>не<b>нь</b>чин, Та<b>нь</b>чин.
                                    Зі<b>нь</b>чин, Прі<b>сь</b>чин;</i> але: <i>Мала<b>н</b>чин,</i> бо
                                <i>Мала<b>н</b>ка</i>.</td>
                            <td><ins>Перед</ins> постійно <ins>м’якими, пом’якшеними і шиплячими</ins> м’який знак не
                                ставиться: <i><b>с</b><ins>вя</ins>то, <b>дз</b><ins>вя</ins>кнути,
                                    <b>с</b><ins>ні</ins>г, велете<b>н</b><ins>сь</ins>кий</i> (хоч
                                <i>велете<b>нь</b></i>), <i>кі<b>н</b><ins>сь</ins>кий</i> (хоч <i>кі<b>нь</b></i>),
                                <i>безба<b>т</b><ins>ч</ins>енко</i> (хоч <i>ба<b>ть</b>ко</i>),
                                <i>промі<b>н</b><ins>ч</ins>ик</i> (хоч <i>промі<b>нь</b></i>). <br>
                                a) М’який знак у цій позиції <ins>ставиться після букви <b>л</b></ins>:
                                <i>гуцу<b>ль</b><ins>сь</ins>кий,</i> <i>Гуцу<b>ль</b><ins>щ</ins>ина,</i>
                                <i>сті<b>ль</b><ins>ч</ins>ик.</i> <br>
                                б) <b>Як виняток</b> м’який знак у цій позиції ставиться у словах
                                <i><b>ть</b><ins>мя</ins>ний, рі<b>зь</b><ins>бя</ins>р, ня<b>нь</b><ins>ч</ins>ити,
                                    бри<b>нь</b><ins>ч</ins>ати,</i> а також <i>же<b>нь</b><ins>ш</ins>ень,
                                    Ма<b>нь</b><ins>чж</ins>урія.</i></td>
                        </tr>
                        <tr>
                            <td><ins>У складних числівниках</ins> у кінці першої частини, незважаючи на наступний
                                твердий приголосний: <i>шіс<b>т</b><ins>со</ins>т, п’я<b>т</b><ins>со</ins>т,
                                    шіс<b>т</b><ins>на</ins>дцять;</i> (див. <a href="#">Правопис числівників
                                    і відчислівникових складних слів</a>)</td>
                        </tr>
                        <tr>
                            <td>Після <b>л</b> перед буквами, що позначають <ins>м’які приголосні</ins>:
                                <i>сті<b>ль</b><ins>ці</ins>, пра<b>ль</b><ins>ня</ins></i> (але: <i>го<b>л</b>ці,</i>
                                бо <i>го<b>л</b>ка; риба<b>л</b>ці,</i> бо <i>риба<b>л</b>ка</i>); <br>
                                М’який знак перед <i><b>-ськ(ий)</b></i> ставимо лише після <b>л</b>:
                                <i>генера<b>ль</b><ins>ський</ins> (генерал + ський), кова<b>ль</b><ins>ський</ins>
                                    (коваль + ський).</i></td>
                            <td><ins>Зубні</ins> приголосні перед суфіксом <i><b>-ськ(ий)</b></i> вимовляються м’яко:
                                [ковалˊсˊкий], [панˊсˊкий], [к’інˊсˊкий], [волинˊсˊкий], але м’який знак не ставиться.
                            </td>
                        </tr>
                        <tr>
                            <td>Після <ins>зубних</ins> приголосних у середині складу <ins>перед <b>о</b></ins>:
                                <i><b>ль</b><ins>о</ins>н, <b>дзь</b><ins>о</ins>б, <b>дь</b><ins>о</ins>готь,
                                    <b>ть</b><ins>о</ins>хкання, <b>сь</b><ins>о</ins>годні.</i> <br>
                                Після <b>р</b> м’який знак ставимо <ins>лише перед <b>о</b></ins> та як виняток у
                                псевдонімі <i>Го<b>рь</b>кий</i> (хоч вимовляємо твердо: [горкий]): <i>ла<b>р</b>ки</i>
                                (хоч <i>ла<b>рь</b><ins>о</ins>к</i>), <i>чоти<b>р</b>ма</i> (хоч
                                <i>чоти<b>рь</b><ins>о</ins>х</i>).</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><ins>В іншомовних словах</ins> м’яким знаком позначається м’якість <ins>зубних</ins>
                                приголосних також перед <b>й, я, ю, є, ї</b>: <i>бата<b>ль</b><ins>й</ins>он,
                                    ка<b>нь</b><ins>й</ins>он, монта<b>нь</b><ins>я</ins>р, <b>Нь</b><ins>ю</ins>тон,
                                    пор<b>ть</b><ins>є</ins>ра, ре<b>ль</b><ins>є</ins>ф.</i><br>
                                Проте в українських іменах (хоч вони й іншомовного походження) відповідно до вимови
                                м’який знак перед <b>я</b> не пишемо: <i>Те<b>т</b><ins>я</ins>на,
                                    У<b>л</b><ins>я</ins>на, Ната<b>л</b><ins>я</ins>. Оме<b>л</b><ins>я</ins>н,
                                    Ка<b>с</b><ins>я</ins>н, Севас<b>т</b><ins>я</ins>н.</i></td>
                            <td> </td>
                        </tr>
                    </tbody>
                </table>
                <br>
                <div id="yak4">
                    <h2><b>Подовження і подвоєння приголосних</b></h2>
                </div>
                <p class="p_intro">В українській мові приголосні звуки можуть подовжуватися.</p>
                <p class="p_intro">Подовжуються звичайно зубні та шиплячі*: <i>зна<b>нн</b>я, ві<b>дд</b>аль,
                        бе<b>зз</b>мі<b>нн</b>ий, жи<b>тт</b>я, обли<b>чч</b>я, збі<b>жж</b>я.</i> Подовжені приголосні
                    вимовляються трохи протяжніше, ніж звичайні, і на письмі позначаються подвоєними буквами:
                    <i>бе<b>зз</b>ахисний, стара<b>нн</b>ий, відкри<b>тт</b>я, бездорі<b>жж</b>я.</i></p>
                <p class="p_intro">Але подвоєні букви не завжди читаються як подовжені звуки: <i>місь<b>кк</b>ом</i>
                    [м’ісˊком], <i>страй<b>кк</b>ом</i> [страйком], <i>Вінни<b>чч</b>ина</i> [в’інничина],
                    <i>во<b>зз</b>’єднаний</i> [возйеднаний]. Найчастіше це трапляється в іншомовних словах:
                    <i>Го<b>лл</b>андія</i> [голанˊдˊійа], <i>Кальку<b>тт</b>а</i> [калˊкута], <i>Я<b>сс</b>и</i>
                    [йаси], <i>ме<b>кк</b>ський</i> [мексˊкий] (але: <i>Ме<b>кк</b>а</i> [мекка]).</p>
                <details>
                    <summary>* <b>Класифікація приголосних</b> (натисніть, щоб відкрити)</summary>
                    <h3 class="myFont">Класифікація приголосних</h3>
                    <table class="table table-striped table-condensed table-bordered">
                        <thead>
                            <tr>
                                <th rowspan='2'>За участю голосу й шуму</th>
                                <th colspan="9">За місцем перепони</th>
                            </tr>
                            <tr>
                                <th colspan="2">губні <br><span class="thin">(“<b>м</b>а<b>вп</b>а
                                        <b>Б</b>у<b>ф</b>”)</span></th>
                                <th colspan="3">зубні <br><span class="thin">(“<b>д</b>е <b>т</b>и
                                        <b>з</b>’ї<b>с</b>и <b>ц</b>і <b>л</b>и<b>н</b>и”)</span></th>
                                <th colspan="2">піднебінні</th>
                                <th colspan="2" class="bgWhite wrapWord">задньоротові <br><span
                                        class="thin">(“<b>х</b>у<b>ґ</b>а <b>г</b>у<b>к</b>а”)</span></th>
                            </tr>
                        </thead>
                        <tbody class="text_center">
                            <tr>
                                <td class="sideColl">сонорні <br><span class="thin">(“<b>м</b>и
                                        <b>в</b>и<b>н</b>и<b>л</b>и <b>р</b>і<b>й</b>”)</span></td>
                                <td>м</td>
                                <td>в</td>
                                <td>н</td>
                                <td>-</td>
                                <td>л</td>
                                <td>р</td>
                                <td>й</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td class="sideColl">дзвінкі <br><span class="thin">(“<b>б</b>у<b>д</b>е
                                        <b>г</b>о<b>ж</b>е <b>ґ</b>е<b>дз</b>ю у <b>дж</b>а<b>з</b>і”)</span></td>
                                <td>б</td>
                                <td>-</td>
                                <td>д</td>
                                <td>дз</td>
                                <td>з</td>
                                <td>дж</td>
                                <td>ж</td>
                                <td>ґ</td>
                                <td>г</td>
                            </tr>
                            <tr>
                                <td class="sideColl">глухі <br><span class="thin">(“у<b>с</b>е <b>ц</b>е
                                        <b>к</b>а<b>ф</b>е “<b>Пт</b>а<b>х</b> і <b>ч</b>а<b>ш</b>а”)</span></td>
                                <td>п</td>
                                <td>ф</td>
                                <td>т</td>
                                <td>ц</td>
                                <td>с</td>
                                <td>ч</td>
                                <td>ш</td>
                                <td>к</td>
                                <td>х</td>
                            </tr>
                        </tbody>
                    </table>
                    <p class="p_intro">Крім того, за звучанням виділяють ще такі групи:
                        <br>а) <b>шиплячі</b>: [дж], [ж], [ч], [ш];
                        <br>б) <b>свистячі</b>: [дз], [з], [ц], [с].</p>
                </details> <br>

                <table class="table table-striped table-condensed table-bordered">

                    <thead>
                        <tr id="rule_1">
                            <th colspan="2">Подовжені м’які приголосні</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td rowspan="3">Подовжуються м’які <ins>зубні</ins> і <ins>пом’якшені шиплячі</ins>
                                приголосні, якщо вони стоять <ins>між двома голосними</ins>: <br>
                                а) в іменниках середнього роду на <b>-я</b>: <i>знар<ins>я</ins><b>дд</b><ins>я</ins>,
                                    ч<ins>у</ins><b>тт</b><ins>я</ins>, гал<ins>у</ins><b>зз</b><ins>я</ins>,
                                    кол<ins>о</ins><b>сс</b><ins>я</ins>, зн<ins>а</ins><b>нн</b><ins>я</ins>,
                                    зат<ins>и</ins><b>шш</b><ins>я</ins>, обл<ins>и</ins><b>чч</b><ins>я</ins>,
                                    бездор<ins>і</ins><b>жж</b><ins>я</ins>;</i> <br>
                                б) в іменниках жіночого роду ІІІ відміни <ins>орудного</ins> <small><i>("ким?",
                                        "чим?")</i></small> відмінка однини перед кінцевим <b>-ю</b>: <i>тінь—
                                    т<ins>і</ins><b>нн</b><ins>ю</ins>, сіль — с<ins>і</ins><b>лл</b><ins>ю</ins>, мазь
                                    — м<ins>а</ins><b>зз</b><ins>ю</ins>, мідь — м<ins>і</ins><b>дд</b><ins>ю</ins>, ніч
                                    — н<ins>і</ins><b>чч</b><ins>ю</ins>, подорож —
                                    подор<ins>о</ins><b>жж</b><ins>ю</ins>, туш —
                                    т<ins>у</ins><b>шш</b><ins>ю</ins>;</i><br>
                                в) у словах <i><ins>І</ins><b>лл</b><ins>я</ins>, с<ins>у</ins><b>дд</b><ins>я</ins>,
                                    ст<ins>а</ins><b>тт</b><ins>я</ins>, пород<ins>і</ins><b>лл</b><ins>я</ins>,
                                    р<ins>і</ins><b>лл</b><ins>я</ins>, зр<ins>а</ins><b>нн</b><ins>я</ins>,
                                    спрос<ins>о</ins><b>нн</b><ins>я</ins>, навм<ins>а</ins><b>нн</b><ins>я</ins>,
                                    попідт<ins>и</ins><b>нн</b><ins>ю</ins>,
                                    попідвік<ins>о</ins><b>нн</b><ins>ю</ins>.</i> <br>
                                У похідних словах подовження між двома голосними зберігається: <i>жи<b>тт</b>я —
                                    жи<b>тт</b>євий, жи<b>тт</b>євість, жи<b>тт</b>єрадісний; су<b>дд</b>я —
                                    су<b>дд</b>івський, су<b>дд</b>івство.</i></td>
                            <td>Якщо м’який приголосний стоїть <ins>не між двома голосними</ins>, то подовження не
                                відбувається: <i>знання — зна<b>нь</b>, багаття — бага<b>ть</b>, Поділля —
                                    поді<b>ль</b>ський, ніччю — жов<b>ч</b>ю, Побужжя — Повол<b>ж</b>я.</i></td>
                        </tr>
                        <tr>
                            <td>У назвах <ins>молодих істот</ins> (середній рід) подовження немає:
                                <i>т<ins>е</ins><b>л</b><ins>я</ins>, г<ins>у</ins><b>с</b><ins>я</ins>,
                                    щ<ins>е</ins><b>н</b><ins>я</ins>;</i></td>
                        </tr>
                        <tr>
                            <td>Подовження не зберігається в словах: <i>ста<ins>тт</ins>я — (багато) ста<b>т</b>ей,
                                    поста<b>т</b>ейний, жи<ins>тт</ins>я — жи<b>т</b>ейський.</i></td>
                        </tr>
                        <tr>
                            <td>Подовжується звук <b>л</b> в особових формах дієслова <i>лити</i> та похідних від нього
                                дієсловах: <i><b>лл</b>ю, ви<b>лл</b>єш, на<b>лл</b>ю, зі<b>лл</b>яти;</i></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td colspan="2" class="text_center bgBlue"><b>Подвоєння букв</b></td>

                        </tr>
                        <tr>
                            <td>Подвоюються букви на межі значущих частин слова, якщо одна з них кінчається, а друга
                                починається на ту саму букву: <i>ві<b>дд</b>ати (ві<b>д</b>+<b>д</b>ати),
                                    бе<b>зз</b>вучний (бе<b>з</b>+<b>з</b>вучний), зако<b>нн</b>ий
                                    (зако<b>н</b>+<b>н</b>ий), годи<b>нн</b>ик (годи<b>н</b>+<b>н</b>ик),
                                    розрі<b>сс</b>я (розрі<b>с</b>+<b>с</b>я), підні<b>сс</b>я
                                    (підні<b>с</b>+<b>с</b>я), пі<b>вв</b>ідра (пі<b>в</b>+<b>в</b>ідра), ю<b>нн</b>ат
                                    (ю<b>н</b>ий+<b>н</b>атураліст), страй<b>кк</b>ом
                                    (страй<b>к</b>овий+<b>к</b>омітет)</i>.</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Подвоюється <b>ч</b> в іменниках, утворених від прикметників на <b><i>-цьк(ий)</i></b>:
                                <i>Вінни<b>чч</b>ина (вінницьк+ина), коза<b>чч</b>ина (козацьк+ина), Німе<b>чч</b>ина
                                    (німецьк+ина).</i></td>
                            <td><b>Виняток</b> — <i>Гали<b>ч</b>ина</i> (походить від <i>Галич</i>).</td>
                        </tr>
                        <tr>
                            <td>Подвоюються внаслідок різних збігів букви ще в словах <i>бо<b>вв</b>аніти, <b>сс</b>ати,
                                    <b>лл</b>яний (і льняний), о<b>вв</b>а, <b>вв</b>есь</i> і похідних.</td>
                            <td></td>
                        </tr>
                        <tr id="adverb_doubling">
                            <td>Подвоюється <b>н</b> <ins>між голосними</ins> в прикметниках на <b><i>-&#160;ний,
                                        -&#160;ній,</i></b> якщо ці прикметники утворені від іменників з основою на
                                <b>н</b>: <i>тума<b>н</b> — тум<ins>а</ins><b>нн</b><ins>и</ins>й, сті<b>н</b>а —
                                    ст<ins>і</ins><b>нн</b><ins>и</ins>й, вік<b>н</b>о —
                                    вік<ins>о</ins><b>нн</b><ins>и</ins>й, осі<b>нь</b> —
                                    ос<ins>і</ins><b>нн</b><ins>і</ins>й.</i></td>
                            <td>Якщо ж твірна основа кінчається на інший звук, то <b>н</b> у прикметнику не подвоюється:
                                <i>бук<ins>в</ins>а — бук<ins>ве</ins><b>н</b>ий, рефор<ins>м</ins>а —
                                    порефор<ins>ме</ins><b>н</b>ий, жураве<ins>ль</ins> — журав<ins>ли</ins><b>н</b>ий,
                                    дере<ins>в</ins>о — дере<ins>в’я</ins><b>н</b>ий, не ж<ins>д</ins>ати —
                                    неж<ins>да</ins><b>н</b>ий</i>.</td>
                        </tr>
                        <tr>
                            <td>Подвоюється <b>н</b> у <ins>наголошених</ins> суфіксах <i><b>-&nbsp;е́нн(ий),
                                        -&nbsp;а́нн(ий)</b>:</i> <br>
                                а) у прикметниках, які вказують на <ins>більшу, ніж звичайна, чи найбільшу</ins> міру
                                якості: <i>страш<b>енн</b>ий, здоров<b>енн</b>ий, нескінч<b>енн</b>ий,
                                    невблаг<b>анн</b>ий, незрівн<b>янн</b>ий, недоторк<b>анн</b>ий;</i> <br>
                                б) у небагатьох прикметниках-старослов’янізмах: <i>свящ<b>е́нн</b>ий</i> (звичайно:
                                <i>святий</i>), <i>огн<b>е́нн</b>ий</i> (звичайно: <i>вогняний</i>),
                                <i>благослов<b>енн</b>ий, блаж<b>енн</b>ий, мерз<b>енн</b>ий, ока<b>янн</b>ий.</i></td>
                            <td>В інших прикметниках (та дієприкметниках) у суфіксах <b><i>-&nbsp;ен(ий),
                                        -&nbsp;ан(ий)</i></b> буква <b>н</b> не подвоюється: <i>шал<b>ен</b>ий,
                                    скаж<b>ен</b>ий, навіж<b>ен</b>ий, жад<b>ан</b>ий</i> (вказують на звичайну міру
                                якості), <i>нескі́нч<b>ен</b>ий, незрі́вн<b>ян</b>ий, намальов<b>ан</b>ий,
                                    напис<b>ан</b>ий, з’єдн<b>ан</b>ий.</i></td>
                        </tr>
                        <tr>
                            <td>Подвоюється <b>н</b> з різних причин також у словах <i>стара<b>нн</b>ий,
                                    притама<b>нн</b>ий, захла<b>нн</b>ий, оста<b>нн</b>ій</i>.</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>У словах, похідних від прикметників, написання <b>нн</b> зберігається:
                                <i>тума<b>нн</b>ий — тума<b>нн</b>о, тума<b>нн</b>ість; нескінче́<b>нн</b>ий —
                                    нескінче<b>нн</b>о, нескінче<b>нн</b>ість; письме<b>нн</b>ий — письме<b>нн</b>ик;
                                    віко<b>нн</b>ий — віко<b>нн</b>иця;</i> </td>
                            <td>У похідних від прикметників словах написання одного <b>н</b> зберігається:
                                <i>шале<b>н</b>ий — шале<b>н</b>о, шале<b>н</b>ість; вихова<b>н</b>ий —
                                    вихова<b>н</b>ість; захопле<b>н</b>ий—захопле<b>н</b>о, захопле<b>н</b>ість</i>
                                (хоч: <i>вихова<b>нн</b>я, захопле<b>нн</b>я</i>).</td>
                        </tr>
                        <tr>
                            <td colspan="2" class="text_center bgBlue"><b>Подвоєння букв в іншомовних словах</b></td>

                        </tr>
                        <tr>
                            <td colspan="2" class="text_center"><b>Увага!</b> Написання подвоєних букв у власних
                                іншомовних назвах треба кожного разу перевіряти за “Орфографічним словником” та різними
                                довідниками.</td>
                        </tr>
                        <tr>
                            <td>У <b>власних іншомовних назвах</b> і похідних словах подвоєння букв зберігається, як
                                вони <ins>пишуться в тих мовах</ins>, звідки їх узято: <i>Андо<b>рр</b>а,
                                    андо<b>рр</b>ський, Маро<b>кк</b>о, маро<b>кк</b>анець, Го<b>лл</b>андія,
                                    го<b>лл</b>андський, Абі<b>сс</b>інія, А<b>сс</b>ірія, Брю<b>сс</b>ель, Бо<b>нн</b>,
                                    Ні<b>цц</b>а, Я<b>фф</b>а, Дардане<b>лл</b>и, Мі<b>сс</b>ісіпі, Апе<b>нн</b>іни,
                                    Ді<b>кк</b>енс, Ши<b>лл</b>ер, Лонгфе<b>лл</b>о, То<b>рр</b>іче<b>лл</b>і,
                                    Ка<b>сс</b>андра, Оді<b>сс</b>ей.</i></td>
                            <td>Нема подвоєння у <b>власних назвах</b>: <i>Гава<b>н</b>а, Ка<b>с</b>абланка,
                                    Бра<b>з</b>илія, Ма<b>д</b>агаскар</i> та ін.</td>
                        </tr>
                        <tr>
                            <td><b>Винятки:</b> <i>то<b>нн</b>а, ма<b>нн</b>а, ва<b>нн</b>а, мадо<b>нн</b>а,
                                    бо<b>нн</b>а,
                                    ві<b>лл</b>а, бу<b>лл</b>а, бру<b>тт</b>о, не<b>тт</b>о, мо<b>тт</b>о,
                                    конт<b>рр</b>еволюція, і<b>рр</b>аціональний, сю<b>рр</b>еалізм. і<b>нн</b>овація,
                                    і<b>мм</b>іграція </i> (але: <i>е<b>м</b>іграція, е<b>м</b>ігрант</i>).</td>
                            <td>У <b>загальних іншомовних назвах</b> букви звичайно не подвоюються: <i>ко<b>л</b>ектив,
                                    ка<b>с</b>а, ма<b>с</b>а, гру<b>п</b>а, су<b>м</b>а, шо<b>с</b>е, коло<b>н</b>а,
                                    а<b>л</b>егорія, хо<b>б</b>і, баро<b>к</b>о, гу<b>н</b>и, фі<b>н</b>,
                                    інтерме<b>ц</b>о, беладо<b>н</b>а.</i></td>
                        </tr>
                        <tr>
                            <td>В деяких <ins>недавно запозичених іменах</ins> подвоєння букв зберігається:
                                <i>Апо<b>лл</b>он, Ві<b>сс</b>аріон, Ге<b>нн</b>адій, Па<b>лл</b>адій, Е<b>мм</b>ануїл,
                                    А<b>лл</b>а, Бе<b>лл</b>а, Ізабе<b>лл</b>а, Сте<b>лл</b>а, І<b>нн</b>а,
                                    Суса<b>нн</b>а, Жа<b>нн</b>а, Маріа<b>нн</b>а, Е<b>мм</b>а, Віоле<b>тт</b>а, </i>а
                                також <i>Іва<b>нн</b>а, Га<b>нн</b>а.</i></td>
                            <td>В <ins>українізованих запозичених іменах</ins> відповідно до вимови букви звичайно не
                                подвоюються: <i>І<b>п</b>олит, Кири<b>л</b>о, Са<b>в</b>а, Пи<b>л</b>ип, Агне<b>с</b>а,
                                    Іне<b>с</b>а.</i></td>
                        </tr>
                    </tbody>
                </table>
                <div id="yak5">
                    <h2><b>Правопис <b><i>і</i></b> та <b><i>и</i></b> в префіксах і суфіксах</b></h2>
                </div>
                <p class="p_intro">У префіксах і більшості суфіксів <b><i>и</i></b> та <b><i>і</i></b> пишуться за
                    загальними правилами.</p>
                <p class="p_intro">Але в кількох суфіксах написання <i><b>и, і</b></i> загальними правилами не
                    перевіряється, їхній правопис треба запам’ятати.</p>

                <table class="table table-striped table-condensed table-bordered">
                    <thead>
                        <tr>
                            <th>Пишемо <i class="white">і</i></th>
                            <th>Пишемо <i class="white">и</i></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr id="rule_1">
                            <td colspan="2" class="text_center bgBlue"><b>Правопис <i class="white">і</i> та <i
                                        class="white">и</i> в префіксах</b></td>

                        </tr>
                        <tr>
                            <td>Префікси <b>від-, під-,</b> а також <b>прі-</b> <small>(який уживається лише в трьох
                                    словах: <i><b>прі</b>звище, <b>прі</b>звисько, <b>прі</b>рва</i>)</small> пишемо
                                завжди з буквою <b>і</b>. <br>
                                Звук [<b>і</b>] в них з’явився на місці колишнього [<b>о</b>], порівняйте:
                                <i><ins>в<b>і</b>д</ins>разу — <ins><b>о</b>д</ins>разу, <ins>в<b>і</b>д</ins>хилити —
                                    <ins><b>о</b>д</ins>хилити; <ins>пр<b>і</b></ins>звище —
                                    <ins>пр<b>о</b></ins>зивати, <ins>пр<b>і</b></ins>рва —
                                    <ins>пр<b>о</b></ins>рвати.</i></td>
                            <td>Префікси <b>ви-, при-</b> завжди пишемо з <b>и</b>: <i><b>ви</b>йти, <b>ви</b>бір,
                                    <b>при</b>вабливий, <b>при</b>красити.</i><br>

                                (див. <a href="#" target="_blank">Ненаголошені <b>е</b>
                                    та <b>и</b> в префіксах</a>)</td>
                        </tr>
                        <tr>
                            <td>Префікси з кінцевим приголосним часто перед двома або більше кореневими приголосними
                                дістають у кінці голосний [<b>і</b>]: <i><ins>з</ins><b>і</b><ins>бр</ins>ати,
                                    <ins>роз</ins><b>і</b><ins>бр</ins>ати, <ins>від</ins><b>і</b><ins>мк</ins>нути,
                                    <ins>над</ins><b>і</b><ins>йт</ins>и, <ins>об</ins><b>і</b><ins>гн</ins>ати,
                                    <ins>під</ins><b>і</b><ins>пх</ins>нути.</i></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td colspan="2" class="text_center bgBlue"><b>Правопис <i class="white">і</i> та <i
                                        class="white">и</i> в суфіксах</b></td>

                        </tr>
                        <tr>
                            <td>У суфіксах <b>-ість, -іть, -ів</b> пишемо <b>і</b>, бо тут <ins><b>і</b> чергується з
                                    <b>о, e</b></ins>: <i>легк<b>і</b>сть — легк<b>о</b>сті, співуч<b>і</b>сть
                                    —співуч<b>о</b>сті, гурк<b>і</b>т — гурк<b>о</b>ту, батьк<b>і</b>вський —
                                    батьк<b>о</b>ва, цар<b>і</b>вна — цар<b>е</b>ва.</i></td>
                            <td>У суфіксах <b>-ик, -иц(я), -ич, -ищ(е), -иськ(о),</b> а також <b>-ив(о), -ин(а), -ин(я),
                                    -ин(ий), -ит(ий), -&#160;ист(ий)</b> і под. пишемо <b>и</b>, бо в них <ins>нема
                                    чергування з <i>о</i> або <i>e</i></ins>: <i>льотч<b>и</b>к — льотч<b>и</b>ка,
                                    москв<b>и</b>ч — москв<b>и</b>ча, руч<b>и</b>ще — руч<b>и</b>щ, верш<b>и</b>на —
                                    верш<b>и</b>н, родов<b>и</b>тий</i> — за аналогією: <i>знамен<b>и</b>тий;
                                    плеч<b>и</b>стий </i>— за аналогією: <i>зерн<b>и</b>стий</i>
                                <div class="br">(див. <a href="#suffixes"
                                        target="_blank">Ненаголошені <b>е</b> та <b>и</b> в суфіксах</a>)</div>
                            </td>
                        </tr>
                        <tr>
                            <td>У суфіксах <b>-інь, -ій, -іш(ий), -ісіньк(ий), -юсіньк(ий)</b> завжди пишеться <b>і</b>:
                                <i>тепл<b>інь</b>, широч<b>інь</b>, височ<b>інь</b>, далеч<b>інь</b>; руш<b>ій</b>,
                                    торохт<b>ій</b>; тих<b>іш</b>ий, струнк<b>іш</b>ий, гаряч<b>іш</b>ий;
                                    нов<b>ісіньк</b>ий, мал<b>юсіньк</b>ий.</i> </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Суфікс <b>-інн(я)</b> пишеться в іменниках, <ins>утворених від дієслів</ins>: <i>ходити
                                    — ход<b>інн</b>я, сушити — суш<b>інн</b>я, смажити — смаж<b>інн</b>я, кришити —
                                    криш<b>інн</b>я.</i></td>
                            <td rowspan="2">Суфікс <b>-инн(я)</b> вживається тільки <ins>в іменниках із збірним
                                    значенням</ins>: <i>буряк — буряч<b>инн</b>я, мак — маков<b>инн</b>я, лопух —
                                    лопуш<b>инн</b>я, шум — шумов<b>инн</b>я.</i></td>
                        </tr>
                        <tr>
                            <td>Якщо <ins>збірна назва</ins> утворена <ins>від іменника на <i>-інь</i></ins>, то пишемо
                                <b>-інн(я)</b>: <i>волос<ins>інь</ins> — волос<b>інн</b>я, кам<ins>інь</ins> —
                                    кам<b>інн</b>я, кор<ins>інь</ins> — кор<b>інн</b>я.</i></td>

                        </tr>
                    </tbody>
                </table>


                <div id="back-top">
                    <button type="button" class="btn btn-light" a href="#" id="up">Вгору</a></button>
                </div>
            </div>
            <p></p>

            <p class="lead"><a href="/" class="btn btn-primary btn-lg">Перейдіть на головну сторінку →</a></p>
        </div>
    </div>
    </div>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#menu").on("click", "a", function (event) {
                event.preventDefault();
                var id = $(this).attr('href'),
                    top = $(id).offset().top;
                $('body,html').animate({ scrollTop: top }, 1500);
            });
        });
    </script>
    <script type="text/javascript">
        function up() {
            var top = Math.max(document.body.scrollTop, document.documentElement.scrollTop);
            if (top > 0) {
                window.scrollBy(0, ((top + 100) / -10));
                t = setTimeout('up()', 20);
            } else clearTimeout(t);
            return false;
        }

    </script>
    <script type="text/javascript">
        (function ($) {
            $(function () {

                $('#up').click(function () {
                    $('body,html').animate({ scrollTop: 0 }, 500);
                    return false;
                })

            })
        })(jQuery)

    </script>

</body>

</html>